.panel_wrapper {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.panel {
  // max-width: 300px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  &:first-child {
    margin-right: 5px;
  }
  &:last-child {
    margin-left: 5px;
  }
}
